{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
{{#if image}}
<figure class="author-image">
    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
</figure>
{{/if}}
{{/author}}
<figure class="author-info">
    <section class="author-info-title">
        <span><time class="post-date pull-right" datetime="{{date format='YYYY-MM-DD'}}">发表于：{{date format="YYYY-MM-DD"}}</time></span>
        {{#author}}
        <span>作者：{{name}}</span>
    </section>
    <section class="author-info-content">
        {{#if bio}}
        <span class="author-info-bio">{{bio}}</span>
        {{else}}
        <p>查看此作者的 <a href="{{url}}">更多文章</a> 。</p>
        {{/if}}
        <section class="author-info-social">
            {{#if website}}<a href="{{website}}" class="author-info-social-website">我的站点</a>{{/if}}
            <a href="{{url}}" class="author-info-social-feature">我的专栏</a>
            <a href="https://plus.google.com/u/0/+GlistenTse" class="author-info-social-weibo">姬家</a>
            <a href="https://github.com/" class="author-info-social-github">GitHub</a>
            <a href="https://v2ex.com/member/Glisten" class="author-info-social-sf">V2EX</a>
        </section>
<span>本站内容在:</span><i class="fa fa-creative-commons"></i> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC BY-NC-SA 4.0 International" target = "_blank">"署名-非商用-相同方式共享 4.0"</a> 条款下提供。
        {{/author}}
    </section>
</figure>
